#customers{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border:  5px solid #ddd;
	padding: 8px;

}
#customers tr:nth-child(even){background-color: #F9A508;}

#customers tr:hover {background-color: #F90808;}

#customers th {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	background-color: #0C08F9;
	color: white;
}